html, body {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

h1, h2, h3, p {
    font-family: 'Oxygen', sans-serif;
}

a {
    color: #238acb;
    text-decoration: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}

.logo img {
    width: 55%;
}

.nav-bar-list, .right-nav {
    display: inline-block;
    margin-top: 2rem;
}

.nav-bar-list {
    margin-left: 3rem;
}

.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.nav-item .text {
    text-decoration: none;
    /*box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);*/
    color: #4A4A4A;
    font-family: 'WorkSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.nav-item .text:hover {
    color: #4A90E2;
}

.right-nav {
    float: right;
    margin-right: 1rem;
}

.right-nav .nav-item {
    list-style: none;
    display: inline-block;
}

.right-nav .sign-up {
    border: 1px solid #4A4A4A;
    border-radius: 24px;
    padding: 10px 30px;
}

.right-nav .sign-up:hover {
    border: 1px solid #4A90E2;
}

.front {
    z-index: 500;
    top: 0;
    width: 7500px;
}

.page {
    top: 0;
    max-width: 500px;
    padding: 10px 30px;
    position: absolute;
}

.home {
    left: 5.5%;
    top: 41.5%;
    max-width: 12%;
}

.home .title {
    /*box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.21);*/
    color: #000;
    margin: 0 0 20px;
    font-size: 2.675rem;
}

.home .description {
    margin: 0 0 10px;
    padding-bottom: 5px;
    font-size: 24px;
    line-height: 29px;
}

.home .link {
    /*box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);*/
    color: #4A4A4A;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 19px;
}

.home .link a {
    text-decoration: none;
}

.image-container {

}

.image-1 {
    left: 13%;
    top: 36%;
}

.image-1 img {
    height: auto;
    width: 120%;
}

.part-1 {
    top: 24%;
    left: 19.5%;
    max-width: 8.5%;
}

.part .title {
    /*box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);*/
    color: #000000;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 29px;
    text-align: left;
    margin: 0 0 20px;
}

.part .title span {
}

.part .description {
    color: #4A4A4A;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.33px;
    line-height: 21px;
    text-align: left;
}

.image-2 {
    left: 29.5%;
    top: 21%;
}

.image-2 img {
    height: auto;
    width: 52%;
}

.image-3 {
    left: 35%;
    top: 17%;
}

.image-3 img {
    height: auto;
    width: 45%;
}

.part-2 {
    left: 39%;
    top: 20%;
    max-width: 7.5%;
}

.part-2 .description {
    margin: 0;
}

.part-2 .checked-container {
    margin-top: 0.5rem;
}

.part-2 .checked-container .item {
    position: relative;
    padding-bottom: 0.5rem;
}

.part-2 .checked-container .item .image-checked {
    width: 17px;
    position: absolute;
    top: 5px;
    left: 0;
}

.part-2 .checked-container .item .description {
    margin-left: 30px;
    font-size: 14px;
    line-height: 27px;
}

.part-2 .description, .part-2 .about {
    font-size: 16px;
    line-height: 19px;
}

.image-4 {
    left: 46.5%;
    top: 16.11%;
}

.image-4 img {
    height: auto;
    width: 100%;
}

.part-3 {
    top: 27.83%;
    left: 54%;
    max-width: 7.8%;
}

.part-3 .description {
    margin: 0;
}

.image-5 {
    left: 63%;
    top: 25.03%;
}

.image-5 img {
    height: auto;
    width: 45%;
}

.image-6 {
    left: 68%;
    top: 12.89%;
}

.image-6 img {
    height: auto;
    width: 45%;
}

.part-4 {
    left: 72%;
    top: 31.84%;
    max-width: 8%;
}

.part-4 .description {
    margin: 0;
}

.image-7 {
    left: 80%;
    top: 25.96%;
}

.image-7 img {
    height: auto;
    width: 120%;
}

.part-5 {
    left: 90%;
    top: 25%;
    max-width: 10%;
}

.part-5 .title {
    color: #000000;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 29px;
    text-align: left;
    margin: 0 0 2rem;
    display: inline-block;
}

.part-5 label {
    color: #9B9B9B;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.17px;
    line-height: 17px;
    width: 509px;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.part-5 input {
    color: #000000;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: left;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid #979797;
    padding-bottom: 0.1rem;
    width: 100%;
}

.part-5 input:focus, .part-5 input:active {
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
}

.part-5 .form-submit {
    text-align: right;
}

.part-5 .form-submit input {
    border: none;
    color: #fff;
    padding: 0.875rem 0.5rem;
    text-align: center;
    background-color: #4A90E2;
    border-radius: 2rem;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.part-5 .sign-up-social-container {
    text-align: center;
    margin-top: 30px;
}

.part-5 .sign-up-social-container .social-link {
    display: inline-block;
}

.mr-social {
    margin-right: 30px;
}

.part-5 .sign-up-social-container .social-link a {
    border-radius: 24px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding: 10px 30px;
}

.part-5 .sign-up-social-container .social-link.google a {
    border: 1px solid #F93D5C;
}

.part-5 .sign-up-social-container .social-link.linkedIn a {
    border: 1px solid #4277BD;
}

@media only screen and (min-width: 1680px) and (max-width: 1920px) {
    html, body {
        font-size: 27px;
    }

    .nav-bar-list, .right-nav {
        margin-top: 1.5rem;
    }

    .logo img {
        width: 55%;
    }

    .front {
        z-index: 500;
        top: 0;
        width: 10500px;
    }

    .image-1 {
        left: 14%;
        top: 38%;
    }

    .image-1 img {
        width: 149%;
    }

    .part .title {
        font-size: 24px;
        line-height: 30px;
        width: 100%;
    }

    .part-1 {
        top: 33%;
        left: 20.5%;
        max-width: 8.5%;
    }

    .part .description {
        margin-left: 0;
    }

    .image-2 {
        left: 30%;
        top: 25%;
    }

    .image-2 img {
        height: auto;
        width: 84%;
    }

    .image-3 {
        left: 35.5%;
        top: 17%;
    }

    .image-3 img {
        height: auto;
        width: 75%;
    }

    .part-2 {
        left: 40%;
        top: 20%;
        max-width: 9.5%;
    }

    .part-2 .title {
        max-width: 70%;
    }

    .part-2 .ml-0 {
        margin-left: 0 !important;
    }

    .image-4 {
        left: 48.5%;
        top: 22.11%;
    }

    .image-4 img {
        height: auto;
        width: 130%;
    }

    .part-3 {
        top: 40.83%;
        left: 56%;
        max-width: 7.8%;
    }

    .image-5 {
        left: 65%;
        top: 25.03%;
    }

    .image-5 img {
        height: auto;
        width: 65%;
    }

    .image-6 {
        left: 69.5%;
        top: 12.89%;
    }

    .image-6 img {
        height: auto;
        width: 65%;
    }

    .part-4 {
        left: 73.5%;
        top: 31.84%;
        max-width: 8%;
    }

    .image-7 {
        left: 82%;
        top: 25.96%;
    }

    .image-7 img {
        height: auto;
        width: 150%;
    }

    .part-5 {
        left: 91%;
        top: 28%;
        max-width: 10%;
    }

    .part-5 .title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1680px) {
    html, body {
        font-size: 22px;
    }

    .nav-bar-list, .right-nav {
        margin-top: 1.5rem;
    }

    .front {
        z-index: 500;
        top: 0;
        width: 9000px;
    }

    .image-1 {
        left: 14%;
        top: 36%;
    }

    .image-1 img {
        height: auto;
        width: 135%;
    }

    .part-1 {
        top: 30%;
        left: 21%;
        max-width: 8.5%;
    }

    .image-2 {
        left: 30.5%;
        top: 21%;
    }

    .image-2 img {
        height: auto;
        width: 70%;
    }

    .image-3 {
        left: 36%;
        top: 17%;
    }

    .image-3 img {
        height: auto;
        width: 55%;
    }

    .part-2 {
        left: 40%;
        top: 20%;
        max-width: 8.5%;
    }

    .part .title {
        font-size: 24px;
    }

    .image-4 {
        left: 47.5%;
        top: 27.11%;
    }

    .image-4 img {
        height: auto;
        width: 110%;
    }

    .part-3 {
        top: 42.83%;
        left: 54%;
        max-width: 7.8%;
    }

    .image-5 {
        left: 63%;
        top: 25.03%;
    }

    .image-5 img {
        height: auto;
        width: 60%;
    }

    .image-6 {
        left: 68.5%;
        top: 12.89%;
    }

    .image-6 img {
        height: auto;
        width: 60%;
    }

    .part-4 {
        left: 73%;
        top: 31.84%;
        max-width: 8%;
    }

    .image-7 {
        left: 81%;
        top: 25.96%;
    }

    .image-7 img {
        height: auto;
        width: 140%;
    }

    .part-5 {
        left: 90%;
        top: 25%;
        max-width: 10%;
        margin: 0 2rem;
    }

    .part-5 .title {
        font-size: 24px;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
    html, body {
        font-size: 21px;
    }

    .front {
        z-index: 500;
        top: 0;
        width: 8500px;
    }

    .image-1 {
        left: 14%;
    }

    .image-1 img {
        width: 130%;
    }

    .part-1 {
        top: 33%;
        left: 22%;
        max-width: 8.5%;
    }

    .image-2 {
        left: 31%;
        top: 21%;
    }

    .image-2 img {
        height: auto;
        width: 65%;
    }

    .image-3 {
        left: 36.5%;
        top: 17%;
    }

    .image-3 img {
        height: auto;
        width: 50%;
    }

    .part-2 {
        left: 40.5%;
        top: 20%;
        max-width: 8.5%;
    }

    .image-4 {
        left: 48.5%;
        top: 16.11%;
    }

    .part-3 {
        top: 27.83%;
        left: 56.5%;
        max-width: 7.8%;
    }

    .image-5 {
        left: 64.5%;
        top: 25.03%;
    }

    .image-5 img {
        height: auto;
        width: 55%;
    }

    .image-6 {
        left: 69.5%;
        top: 12.89%;
    }

    .image-6 img {
        height: auto;
        width: 55%;
    }

    .part-4 {
        left: 74%;
        top: 31.84%;
        max-width: 8%;
    }

    .image-7 {
        left: 82%;
        top: 25.96%;
    }

    .part-5 {
        left: 90.5%;
        top: 26%;
        max-width: 10%;
        margin: 0 2rem;
    }

    .part-5 .title {
        font-size: 24px;
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
    html, body {
        font-size: 22px;
    }

    .nav-bar-list, .right-nav {
        margin-top: 1.6rem;
    }

    .front {
        z-index: 500;
        top: 0;
        width: 7500px;
    }
}

@media only screen and (min-width: 1268px) and (max-width: 1366px) {
    html, body {
        font-size: 16px;
    }

    .part-1 {
        top: 31%;
        left: 20.5%;
    }

    .image-2 {
        left: 30%;
        top: 23%;
    }

    .image-2 img {
        width: 60%;
    }

    .image-3 {
        left: 35.5%;
    }

    .part-2 {
        left: 39.5%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1268px) {
    html, body {
        font-size: 25pt;
    }

    .home-link-mobile .link {
        font-size: 26pt;
    }

    .nav-bar-list, .right-nav {
        margin-top: 1.2rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    html, body {
        font-size: 23pt;
    }

    .nav-bar-list, .right-nav {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 767px) {
    .nav-bar, .logo {
        display: block;
    }

    .mobile, .nav-bar-mobile  {
        display: none;
    }

    .desktop {
        display: block;
    }

}

@media only screen and (max-width: 767px) {

    .nav-bar, .logo {
        display: none;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    html, body {
        font-size: 20pt;
    }

    .front {
        position: relative;
        width: auto;
        margin-top: 350pt;
    }

    .desktop {
        display: none;
    }

    .header {
        background: #ffffff;
    }

    .nav-bar, .logo {
        display: none;
    }

    .nav-bar-mobile {
        display: block;
        position: relative;
        height: 60pt;
    }

    .logo-mobile {
        position: absolute;
        top: 20pt;
        left: 20pt;
    }

    .logo-mobile img {
        height: 35px;
    }

    .icon-chev-down {
        position: absolute;
        left: calc(50% - 17.5px);
        top: 20pt;
    }

    .icon-chev-down img {
        height: 35px;
    }

    .navbar-collapse.in img {
        transform: rotate(180deg);
        /*animation: rota 0.5s linear;*/
    }

    .navbar-toggle.collapsed {
        display: none;
    }

    .navbar-toggle.in {
        display: block;
        position: fixed;
        background: #fff;
        z-index: 999;
        margin-top: 120pt;
        width: 100%;
    }

    .nav-item {
        width: 100%;
        padding: 20pt 0;
        text-align: center;
    }

    .nav-item .text {
        line-height: 32pt;
        text-align: center;
        font-size: 30pt;
    }

    .right-item-nav-mobile {
        position: absolute;
        right: 20pt;
        top: 0;
    }

    .sign-up {
        margin-top: 20pt;
    }

    .sign-up a {
        text-decoration: none;
        font-size: 6pt;
        border: 1px solid #4A4A4A;
        border-radius: 60px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
        padding: 8px 20px;
        color: #000;
    }

    .front {
        margin-top: 150pt;
    }

    .page {
        max-width: 100%;
        padding-left: 20pt;
    }

    .home .title {
        font-size: 20pt;
        margin-bottom: 20pt;
    }

    .home .description, .part .title {
        font-size: 16pt;
        color: #000000;
        word-spacing: normal;
        font-weight: 400;
    }

    .part .description {
        font-size: 16pt;
        font-weight: 400;
        line-height: 19pt;
        word-spacing: normal;
        margin: 20pt 0;

    }

    .home .description {
        margin-right: 0;

    }

    .description, .title span {
        border-bottom: 0 !important;
    }

    .image-container img {
        height: auto;
        width: 100%;
    }

    .image-container a {
        font-size: 13pt;
    }

    .image-custom {
        background: url('../img/ipad.png') no-repeat;
        width: 306pt;
        height: 150pt;
        background-size: 306pt 150pt;
        z-index: 0;
        position: relative;
        left: 107pt;
        margin: 0;
    }

    .home-link-mobile {
        top: -40pt;
    }

    .home-link-mobile .link {
        margin: 0 0 20pt;
        color: #4A4A4A;
        font-size: 12pt;
    }

    .image-1 {
        display: none;
    }

    .part {
        margin-top: 100pt;
    }

    .part-2 .checked-container {
        margin-top: 40pt;
    }

    .part-2 .checked-container .item {
        padding-bottom: 10pt;
    }

    .part-2 .checked-container .item .image-checked {
        width: 15pt;
        top: 3pt;
    }

    .part-2 .checked-container .item .description {
        margin: 0 30pt;
    }

    .image-3, .image-4, .image-7, .part-5 {
        display: none;
    }

    .sign-up-mobile {
        margin-top: 140pt;
        padding: 5% 40pt 10%;
        background: #4A90E2;
        color: #fff;
    }

    .sign-up-mobile .title {
        font-size: 20pt;
        font-weight: normal;
        margin-bottom: 5pt;
    }

    .sign-up-mobile .description {
        margin: 0 0 50pt;
    }

    .sign-up-mobile .email {
        width: 100%;
        height: 60pt;
        border-radius: 40pt;
        border: 1px solid #fff;
        background: #4A90E2;
        color: #fff;
        text-align: center;
    }

    .sign-up-mobile input {
        font-size: 16pt;
    }

    .sign-up-mobile .email::placeholder {
        color: #fff;
    }

    .sign-up-mobile .submit {
        border: none;
        color: #fff;
        padding: 0.875rem 0.5rem;
        text-align: center;
        background-color: #2D77CD;
        border-radius: 2rem;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .form-submit {
        margin-top: 20pt;
    }

    .front {
        position: relative;
        width: auto;
    }

    .page {
        position: relative;
        left: auto;
        top: auto;
    }
}

@media only screen and (max-width: 400px) {
    html, body {
        font-size: 18pt;
    }
}
